.editIcon, .delIcon {
    font-size: 20px;
}

.delIcon {
    margin-left: 3px;
}

.delIcon:hover {
    color: crimson;
}

.editIcon:hover {
    color: green;
}

#listIcons {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    margin-top: -3px;
}

#list {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
    min-width: 212px;
    overflow-wrap: break-word;
}

.list-group-item {
    border-color: rgb(197, 195, 195) !important;
}

.list-group {
    padding: 15px !important;
}